.App {
  font-family: sans-serif;
  text-align: center;
  padding-top: 15px;
}

body {
  height: 100%;
  width: 100%;
  background-position: center;
  background-color: rgb(232, 253, 251);
}
.container {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/022/369/original/29Z_2105.w026.n002.422B.p1.422.jpg?1639024601);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid;
  width: 35%;
  background-position: 50% 50%;
  padding-bottom: 25px;
  border-radius: 10px;
  margin-top: 10px;
  margin: 0 auto;
}
.card {
  background-color: rgba(117, 194, 110, 0.726);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  width: 200px;
  margin: 0 auto;
}

.input {
  border-radius: 10px;
  display: inline;
  font-size: 22px;
  padding: 5px;
}
.Search .button {
  display: inline;
  background: rgb(201, 204, 15);
  color: rgb(78, 78, 78);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  transition: 200 ms ease-in-out;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}
.button:hover {
  background: rgb(35, 144, 187);
  color: white;
}

li {
  list-style: none;
  padding: 5px;
}
.variables {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  color: white;
  padding-right: 28px;
  text-transform: capitalize;
}
.footer {
  padding-top: 10px;
  text-align: center;
  color: rgb(78, 78, 78);
}
a {
  color: rgb(201, 204, 15);
  text-decoration: none;
}
@media (max-width: 740px) {
  .container {
    width: 70%;
  }
  .input {
    display: block;
    margin: 0 auto;
    font-size: 15px;
    margin-bottom: 3px;
  }
  .button {
    font-size: 12px;
  }
  .card {
    width: 150px;
  }
  .variables {
    font-size: 12px;
  }
  .footer {
    font-size: 12px;
  }
  .footer a {
    color: blue !important;
  }
}
