.App {
  text-align: center;
  padding-top: 15px;
}

body {
  height: 100%;
  width: 100%;
  background-position: center;
  background-color: rgb(242, 233, 216);
}
.container {
  background-image: url("leaves.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  width: 300px;
  height: auto;
  border: 1px solid;
  width: 35%;
  background-position: 50% 50%;
  border-radius: 10px;
  margin-top: 10px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}
.card {
  background-color: rgb(245, 239, 229);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  width: 200px;
  margin: 0 auto;
  border-radius: 10px;
  opacity: 0.9;
}

.input {
  border-radius: 10px;
  display: inline;
  font-size: 22px;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}
.Search .button {
  display: inline;
  background: rgb(145, 129, 163);
  color: rgb(250, 243, 243);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  transition: 200 ms ease-in-out;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  opacity: 0.9;
}
.button:hover {
  background: rgb(216, 63, 43);
  color: white;
}

li {
  list-style: none;
  padding: 5px;
}
.variables {
  font-size: 14px;
  font-weight: bolder;
  color: rgb(49, 46, 46);
  padding-right: 28px;
  text-transform: capitalize;
  font-family: "Livvic", sans-serif;
}
.footer {
  padding-top: 10px;
  text-align: center;
  color: rgb(78, 78, 78);
  font-size: 14px;
  font-family: "Livvic", sans-serif;
}
a {
  color: rgb(216, 63, 43);
  text-decoration: none;
}
a:hover {
  text-decoration: underline rgb(81, 145, 65);
}
@media (max-width: 740px) {
  .container {
    width: 70%;
  }
  .input {
    display: block;
    margin: 0 auto;
    font-size: 15px;
    margin-bottom: 3px;
  }
  .button {
    font-size: 12px;
  }
  .card {
    width: 150px;
  }
  .variables {
    font-size: 12px;
  }
  .footer {
    font-size: 12px;
  }
}
