.forecast-container {
  border: 1px solid white;
  margin: 10%;
  border-radius: 10px;
  margin-top: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.WeatherForecast .row {
  align-items: center;
}
.WeatherForecast {
  font-size: 18px;
  text-align: left;
  font-weight: 600;
  width: 100%;
  align-items: center;
  align-content: center;
  color: white;
  font-family: "Didact Gothic", sans-serif;
}
.WeatherForecast .col {
  letter-spacing: 0.8px;
}

.WeatherForecast .weather-icon {
  max-width: 50px;
  align-items: center;
}

.min-temp {
  opacity: 0.7;
}
.WeatherForecast .col {
  margin: -10px 2px;
}
@media (max-width: 460px) {
  .WeekdayForecast {
    font-size: 0.8em;
    padding-inline: 2%;
  }
  .WeatherForecast .weather-icon {
    max-width: 70px;
  }

  .min-temp,
  .max-temp,
  .forecast-day {
    font-size: 12px;
  }
}
