.Weather bold {
  font-weight: bold;
  font-size: 1.6em;
  color: white;
}
.row {
  display: flex;
  justify-content: space-evenly;
}
.today-container {
  background-color: rgb(240, 162, 131);
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  opacity: 0.9;
}
.Weather h1 {
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Didact Gothic", sans-serif;
  color: rgb(3, 3, 3);
}
.d-flex {
  display: flex !important;
  align-content: center;
}
.Weather .today {
  font-size: 1.4em;
  color: rgb(49, 46, 46);
  font-family: "Didact Gothic", sans-serif;
}
.Weather .date {
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 18px;
}
.Weather .temp {
  color: rgb(49, 46, 46);
  font-size: 27px;
  padding-right: 20px;
  margin-top: 20px;
  font-family: "Didact Gothic", sans-serif;
}
.Weather .todays-icon {
  margin-top: -11px;
}

@media (max-width: 550px) {
  .Weather {
    text-align: center;
  }
  .Weather h1 {
    font-size: 20px;
  }
  .Weather .split-weather {
    flex-direction: column;
  }
  .Weather .todays-icon {
    margin-left: 80px;
    margin-top: -5px;
    padding-bottom: -5px;
    width: 55px;
    height: 55px;
  }
  .Weather .temp {
    font-size: 18px;
    margin-top: 7px;
  }
}
@media (max-width: 912px) {
  .Weather {
    text-align: center;
  }
  .Weather h1 {
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
  }
  .Weather .split-weather {
    flex-direction: column;
  }
  .Weather .todays-icon {
    margin-left: 85px;
    margin-top: -10px;
    width: 50px;
    height: 45px;
  }
  .Weather .temp {
    font-size: 18px;
    margin-top: 7px;
  }
}
